<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="blocks/head :: head"></head>
<body>

<!-- Navbar -->
<div th:insert="blocks/navbar :: navbar"></div>

<br>
<div class="w3-black">

    <div class="actionsBar">
        <form class="search" th:action="@{/merchandise}" method="get">
            <input type="text" name="title" placeholder="Search..">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- Buy Modal -->
<!--    <div id="buyModal" class="w3-modal">-->
<!--        <div class="w3-modal-content w3-animate-top w3-card-4">-->
<!--            <header class="w3-container w3-teal w3-center w3-padding-32">-->
<!--        <span onclick="document.getElementById('buyModal').style.display='none'"-->
<!--              class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>-->
<!--                <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Market</h2>-->
<!--            </header>-->
<!--            <div class="w3-container" th:each="m: ${merch}">-->
<!--                <p><label><i class="fa fa-shopping-cart"></i>Product Type</label></p>-->
<!--                <input class="w3-input w3-border" type="text" th:value="${m.title}" placeholder="Which product?">-->
<!--                <p><label><i class="fa fa-user"></i>Quantity</label></p>-->
<!--                <input class="w3-input w3-border" type="text" placeholder="How many?">-->
<!--                <p><label><i class="fa fa-user"></i>Name</label></p>-->
<!--                <input class="w3-input w3-border" type="text" placeholder="Your name:">-->
<!--                <p><label><i class="fa fa-user"></i>Phone number</label></p>-->
<!--                <input class="w3-input w3-border" type="text" placeholder="Phone number:">-->
<!--                <p><label><i class="fa fa-user"></i>Address</label></p>-->
<!--                <input class="w3-input w3-border" type="text" placeholder="Address:">-->
<!--                <button onclick="document.getElementById('paidModal').style.display='block'" ;-->
<!--                        class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i-->
<!--                        class="fa fa-check"></i></button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
        <h2 class="w3-wide w3-center">MERCHANDISE</h2>
        <p class="w3-opacity w3-center"><i>Branded merch of one of the most hype Russian-speaking rappers!</i></p><br>
        <!--For copy 3 containers copy this code-->
        <div class="w3-row-padding w3-padding-32 card" style="margin:0 -16px">
            <div class="w3-third w3-margin-bottom" th:each="m: ${merch}">
                <img th:src="'/images/' + ${m.getImageId()}" style="width:245px" class="w3-hover-opacity"/>
                <div class="w3-container w3-white">
                    <p><b th:text="${m.title}"></b>
                    <p class="w3-opacity" th:text="${m.cost}+'$'">
                    <p th:text="${m.description}">
                    <p class="read-more"><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="'/merchandise/'+${m.id}+'/edit/'">Edit</a></p>
                    <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="'/merchandise/delete/' + ${m.id}" method="post">
                        <button class="w3-button w3-black w3-section w3-right" type="submit">DELETE</button>
                    </form>
                    <a th:href="'/merchandise/'+${m.id}"
                            class="w3-button w3-black w3-margin-bottom">Buy Merch
                    </a>

                </div>
            </div>
        </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
     <h2 class="w3-wide w3-center">ADD PRODUCT</h2>
        <form th:action="@{/merchandise/create}" method="post" enctype="multipart/form-data">
            <div class="w3-row-padding" style="margin:0 -16px 8px -16px; width: 100%">
                <div class="w3-half">
                    <input class="w3-input w3-border" type="text" placeholder="Title" name="title">
                </div>
                <div class="w3-half">
                    <input class="w3-input w3-border" type="number" placeholder="Price" name="cost">
                </div>
            </div>
            <input class="w3-input w3-border" type="text" placeholder="Description" required name="description">
            <br>
            <div class="example-2">
                <div class="form-group">
                    <input type="file" name="file1" id="file" class="input-file">
                    <label for="file" class="btn btn-tertiary js-labelFile" style="background-color: white">
                        <i class="icon fa fa-check"></i>
                        <span class="js-fileName" style="color: black">Add file</span>
                    </label>
                </div>
            </div>
            <button class="w3-button w3-black w3-section w3-right" type="submit" >SEND</button>
        </form>
    </div>
</div>

</div>
<!-- Paid Modal -->
<div id="paidModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container w3-teal w3-center w3-padding-32">
        <span onclick="document.getElementById('paidModal').style.display='none'"
              class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
            <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>The order has been saved</h2>
        </header>
    </div>
</div>
<!-- Footer -->
<div th:insert="blocks/footer :: footer"></div>


</body>
</html>
