<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="blocks/head :: head"></head>
<body>

<!-- Navbar -->
<div th:insert="blocks/navbar :: navbar"></div>
<br>
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" sec:authorize="hasRole('ROLE_ADMIN')">
    <h2 class="w3-wide w3-center">EDIT PRODUCT</h2>
    <div class="w3-col m6">
        <div th:each="el: ${merch}">
            <form th:action="'/merchandise/'+${id}+'/edit/'" target="_blank" method="post">
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-half">
                        <input class="w3-input w3-border" th:value="${el.title}" type="text" placeholder="Title" name="title">
                    </div>
                </div>
                <input class="w3-input w3-border" th:value="${el.description}" type="text" placeholder="Description" name="description">
                <input class="w3-input w3-border" th:value="${el.cost}" type="number" placeholder="Cost" name="cost">
                <button class="w3-button w3-black w3-section w3-right" type="submit">UPDATE</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
